## Print Function

In [65]:
# Comment start with "#"  this sign

In [66]:
print('Aftab Hussain')  #print is build in function

Aftab Hussain

## Variables

- String
- Integer
- Boolean
- Float

In [67]:
name = "Aftab Hussain"  #String

In [68]:
print(name)  #print name

Aftab Hussain

In [69]:
id(name)  #the actual id in jupyter notebook

1758267226224

In [70]:
age = 12 #Integer variable

In [71]:
print(age)  #print age

12

In [72]:
weight = 50.6  #floot variable

In [73]:
print(weight)  #print weight

50.6

In [74]:
is_student = True # bool variable

In [75]:
print(is_student)  #print bool

True

In [76]:
# Display all types
print(type(name))
print(type(age))
print(type(weight))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [77]:
print('Aftab Hussain Shar \"Student Saylani\"')  #ignore symbols

Aftab Hussain Shar "Student Saylani"

In [78]:
# Print paragaph
paragraph ='''
Aftab is a student from 
Saylani MAS-SMIT
He is well good person also
HE knows coding
'''
print(paragraph)

Aftab is a student from
Saylani MAS-SMIT
He is well good person also
HE knows coding

In [79]:
# Concanate
last_name = 'Shar'
full_name = name +' '+ last_name
print(full_name)

Aftab Hussain Shar

### Type-Casting

In [80]:
# Coverting float to int
int(weight)
type(weight)

float

### Operators

In [81]:
# Addition
x = 12
y = 6

print(x+y)

18

In [82]:
# Substraction
x = 12
y = 6

print(x-y)

6

In [83]:
#Divison
x = 12
y = 6

print(x/y)

2.0

In [84]:
# Multiplication
x = 12
y = 6

print(x*y)

72

In [85]:
#Division Whole Floor --> Round Figure
x = 12
y = 6

print(x//y)

2

In [86]:
# Exponenet
x = 2
y = 3

print(x**y)

8

In [87]:
# Division Whole Floor --> Round Figure
x = 12
y = 6

print(x//y)

2

In [88]:
# Find Ceil
import math
a = 2.34
math.ceil(a)

3

### Nominal Operator

In [89]:
a = 2

In [90]:
a+=a  #nomina addition
a

4

In [91]:
a*=a  #multi addition
a

16

In [92]:
a/=a  #multi addition
a

1.0

In [93]:
a-=a  #nomina substraction
a

0.0

### Expression

In [94]:
## Apply BODMAS In Expression
2-4*4/4+4

2.0

In [95]:
2-4*4/4+4+(2*3)

8.0

### Tuples

In [96]:
age = 23  # Making Tuples varaible
name = "Aftab"
data = (age,name)

In [97]:
type(data)  # Show type print

tuple

In [98]:
print(data)  # Print tuple

(23, 'Aftab')

In [99]:
print(data[1]) # indexing

Aftab

In [100]:
print(data[0]) # indexing

23